@()(implicit flash: Flash)

@main("Welcome to Play") {
<h1>Welcome to Play-framework-starter-pack!</h1>

<p>Click to regenerative a new number : <span id="random-here">0</span> </p>
<button type="button" id="random-btn">Random number</button>
<br>

<p>Click to regenerative a new whole string : <span id="randomStr">...</span> </p>
<input id="lengthValue" type="text" value="9">
<button type="button" id="randomStringBtn">Random string</button>
<br>

<p>Click to sign in</p>
<button type="button"><a href="@routes.TaskList.login" style="text-decoration: none; margin: 5px;">Sign in</a></button>
<br>

<p>Click to sign up</p>
<button type="button"><a href="@routes.TaskList.register" style="text-decoration: none; margin: 5px;">Sign up</a></button>

<script src="@routes.Assets.versioned("javascripts/index.js")"></script>
}
