@* login2 Template File *@
@()(implicit request: RequestHeader)


<h2>Log in :</h2>
<div>
    Username<input type="text" id="loginName">
    <br>
    Password<input type="password" id="loginPass">
    <br>
    <button type="submit" onclick="login()" style="background-color: #ff2d1a; padding: 5px">Confirm</button>
</div>

<h2>Create User :</h2>
<div>
    Username<input type="text" id="registerName">
    <br>
    Password<input type="password" id="registerPass">
    <br>
    <button type="submit" onclick="register()" style="background-color: #ff2d1a; padding: 5px">Create </button>
</div>

