@* login Template File *@
@(loginForm: Form[LoginData])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Login") {
<h2>Login</h2>
<form method="post" action="validateLogin">
    @helper.CSRF.formField
    Username<input type="text" name="username" id="username-login">
    <br>
    Password<input type="password" name="password" id="password-login">
    <br>
    <button type="submit">Submit</button>
</form>
<br>
@helper.form(action = routes.TaskList.validateLoginForm){
    @helper.CSRF.formField
    @helper.inputText(loginForm("Username"))
    @helper.inputPassword(loginForm("Password"))
    <div class="form-action">
        <button type="submit" >Login with Play form</button>
    </div>
}
<br>
<div>
    <button><a href="@routes.TaskList.register" style="text-decoration: none; margin: 5px;">Sign up</a></button>
</div>
}