@()(implicit request: RequestHeader, flash: Flash)

@main("Task List 5"){
<div id="contents">version 5</div>

<div id="login-section">
    <h2>Login:</h2>
    <br>
    Username<input type="text" id="loginName">
    <br>
    Password<input type="password" id="loginPass">
    <br>
    <button onclick="login()">Login</button>
    <span id="login-message"></span>

    <h2>Create new account:</h2>
    <br>
    Username<input type="text" id="createName">
    <br>
    Password<input type="password" id="createPass">
    <br>
    <button onclick="createUser()">Register</button>
    <span id="create-message"></span>
</div>

<div id="task-section" hidden>
    <h1>Task</h1>
    <ul id="task-list">
    </ul>

    <p>Add new task</p>
    <input type="text" id="newTask">
    <button type="submit" value="Add" onclick="addNewTask()">Add</button>
    <span id="task-message"></span>
    <div>
        <button><a href="@routes.TaskList5.logout" style="text-decoration: none; margin: 5px;" onclick="logout()">Log out</a></button>
    </div>
</div>

<input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
<input type="hidden" id="validateRoute" value="@routes.TaskList5.validate">
<input type="hidden" id="tasksRoute" value="@routes.TaskList5.taskList">
<input type="hidden" id="createRoute" value="@routes.TaskList5.createUser">
<input type="hidden" id="deleteRoute" value="@routes.TaskList5.deleteTask">
<input type="hidden" id="addRoute" value="@routes.TaskList5.addTask">
<input type="hidden" id="logoutRoute" value="@routes.TaskList5.logout">

<div id="react-root"></div>
<script src="@routes.Assets.versioned("javascripts/v5.js")"></script>
}