@*
* mainV3 Template File
*@
@()(implicit request: RequestHeader ,flash: Flash)

@main("Task List [version 3]"){
<div id="contents">version 3</div>

<div id="login-section">
    <h2>Login:</h2>
    <br>
    Username<input type="text" id="loginName">
    <br>
    Password<input type="password" id="loginPass">
    <br>
    <button onclick="login()">Login</button>
    <span id="login-message"></span>

    <h2>Create new account:</h2>
    <br>
    Username<input type="text" id="registerName">
    <br>
    Password<input type="password" id="registerPass">
    <br>
    <button onclick="login()">Register</button>
    <span id="create-message"></span>
</div>

<div id="task-section" hidden>
    <h1>Task</h1>
    <ul id="task-list">
    </ul>

    <p>Add new task</p>
    <input type="text" id="newTask">
    <button type="submit" value="Add" onclick="addNewTask()">Add</button>
    <span id="task-message"></span>
    <div>
        <button><a href="@routes.TaskList2.logout" style="text-decoration: none; margin: 5px;" onclick="logout()">Log out</a></button>
    </div>
</div>

<input id="csrfToken" type="hidden" value="@helper.CSRF.getToken.value">
<input id="validateRoute" type="hidden" value="@routes.TaskList3.validateUser">
<input id="createRoute" type="hidden" value="@routes.TaskList3.createUser">
<input id="taskRoute" type="hidden" value="@routes.TaskList3.taskList">
<input id="deleteRoute" type="hidden" value="@routes.TaskList3.deleteTask">
<input id="addRoute" type="hidden" value="@routes.TaskList3.addTask">
<input type="hidden" id="logoutRoute" value="@routes.TaskList3.logout">


<script src="@routes.Assets.versioned("javascripts/v3.js")" type="text/javascript"></script>
}