@* register2 Template File *@
@()

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTER V2</title>
</head>
<body>

<h2>Create User :</h2>
<div>
    Username<input type="text" id="registerName">
    <br>
    Password<input type="password" id="registerPass">
    <br>
    <button type="submit" onclick="register()" style="background-color: #ff2d1a; padding: 5px">Create </button>
</div>
<div>
    <h3>Already have an account. Log in here</h3>
    <button type="submit"><a href="@routes.TaskList2.login">Sign in</a></button>
</div>


<script src="@routes.Assets.versioned("javascripts/v2.js")" type="text/javascript"></script>

</body>
</html>