@* taskPage2 Template File *@

@(tasks: Seq[String])


<h1>Task</h1>
<ul>
    @for((task,idx) <- tasks.zipWithIndex) {
        <li onclick="deleteTask(@idx)">@task</li>
    }
</ul>

    <p>Add new task</p>
    <input type="text" id="newTask">
<button type="submit" value="Add" onclick="addNewTask()">Add</button>

<div>
    <button><a href="@routes.TaskList2.logout" style="text-decoration: none; margin: 5px;">Log out</a></button>
</div>


<script src="@routes.Assets.versioned("javascripts/v2.js")" type="text/javascript"></script>

